<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>test</display-name>

	<servlet>
		<servlet-name>TestHttpRequestServlet</servlet-name>
		<servlet-class>com.servlet.TestHttpRequestServelt</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TestHttpRequestServlet</servlet-name>
		<url-pattern>/TestHttpRequestServlet</url-pattern>
	</servlet-mapping>


	<!-- 自定义JSTL时间格式化标签 -->
	<jsp-config>
		<taglib>
			<taglib-uri>http://www.mytaglib.com/taglib</taglib-uri>
			<taglib-location>/WEB-INF/datetag.tld</taglib-location>
		</taglib>
	</jsp-config>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>