<!DOCTYPE html>
<html>
	<head>
			<meta name="baidu-site-verification" content="74oSkvEwJt">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta http-equiv="Content-Language" content="zh-CN">
		<meta name="keywords" content="港信创富,互联网金融理财,互联网金融,网络安全理财,个人投资理财,网贷理财">
		<meta name="description" content="港信创富（www.gxcfw.com.cn）,瀚博基金旗下创新型互联网金融服务平台,产品涉及网贷、基金，拥有香港最优秀的金融人才，20年国际风控经验，注册资金一亿元，专做市政,稀有资源项目融资,为投资人提供安全财富增值服务。">
		<meta http-equiv="X-UA-Compatible"
			content="IE=10; IE=9; IE=8; IE=EDGE">
		<title>港信创富—大陆首家港资背景理财平台【官网】</title>
		<script src="js/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" href="css/css.css" />
		<link rel="stylesheet" href="css/guanyuwomen.css" />
        <script src="js/jquery.SuperSlide.2.1.js"></script>
	    <script src="js/raphael.js"></script>
	    <script src="js/main.js"></script>
	</head>
	<body>
		<div id="topBar">
		<div class="siteWidth">
			<span><a href="#" class="icon_wx"><i></i>用微信投资</a>|<a href="#" class="icon_phone"><i></i>APP下载</a>|<a href="#">帮助中心</a>|<a href="#">关于我们</a>|<a href="#">立即登录</a> <a target="_blank" href="register.html"><em>免费注册</em></a></span>
			<ul class="top_kf">
				<li><img class="icon_kf" src="images/icon_kf.png" /> 客服热线 :  400-6656-518（周一至周五9:00-22:00）</li>
			</ul>
		</div>
	</div>
			<!-- 头部 S -->
<div id="header">
	<!-- 导航 S -->
		<div class="navBar">
			<ul class="nav clearfix">
				<li id="m1" class="m">
					<h3><a target="_blank" href="#">首页</a></h3>
				</li>

				<li id="m2" class="m">
					<h3><a target="_blank" href="iwant_invest_list.html">我要投资<i></i></a></h3>
					<div class="sub">
						<i></i>
						<ul>
						<li><a class="border_b" href="iwant_invest_list.html">政府保障房贷</a></li>
						<li><a class="border_b" href="iwant_invest_list.html">红本贷</a></li>
						<li><a class="border_b" href="iwant_invest_list.html">车贷</a></li>
						<li><a href="iwant_invest_list.html">其它理财</a></li>
						</ul>
					</div>
				</li>

				<li id="m3" class="m">
					<h3><a target="_blank" href="#">我要借款</a></h3>
				</li>

				<li id="m4" class="m">
					<h3><a target="_blank" href="#">转让专区</a></h3>
				</li>

				<li id="m5" class="m">
					<h3><a target="_blank" href="#">安全保障<i></i></a></h3>
					<div class="sub">
						<i></i>
						<ul>
						<li><a class="border_b" href="#">安全保障</a></li>
						<li><a class="border_b" href="#">法律法规</a></li>
						<li><a href="#">服务协议</a></li>
						</ul>
					</div>
				</li>

				<li id="m6" class="m">
					<h3><a target="_blank" href="#">我的资讯</a></h3>
				</li>

				<li id="m7" class="m">
					<h3><a target="_blank" href="#" id="my_id">我的账户<i></i></a></h3>
					<div class="sub">
						<i></i>
						<ul>
						<li><a class="border_b" href="#">账户管理</a></li>
						<li><a class="border_b" href="#">资金管理</a></li>
						<li><a class="border_b" href="#">理财管理</a></li>
						<li><a  href="#">借款管理</a></li>
						</ul>
					</div>
				</li>
			</ul>
	</div>
	<!-- 导航 E -->
</div>
<!-- 头部 E -->
		<!-- Banner S -->
	  <div class="guanyuwomen_banner"></div>
	<!--Banner E -->
		
		<!--
        	作者：1455490366@qq.com
        	时间：2016-04-21
        	描述：导航
        -->
		<div class="guanyuwomen_daohang">
			<div class="guanyuwomen_daohang_top">
				<ul>
					<li   style="color: #1bb7fc;"><a html="0" class="gsjj">公司简介</a></li>
					<li class="ptgg" ><a html="1">平台高管</a></li>
					<li class="ygfc" ><a html="2">员工风采</a></li>
					<li class="qyhd" ><a html="3">企业活动</a></li>
					<li class="gfgg" ><a html="4">官方公告</a></li>
					<li class="hzhb" ><a html="5">合作伙伴</a></li>
					<li class="znxs" ><a html="6">招纳贤士</a></li>
					<li class="lxwm"><a html="7">联系我们</a></li>
					<li class="gsjj_1" style="display: block;background: red;height: 6px;position: relative;z-index: 9;"></li>
				</ul>
			</div>
		    <!--<div class="guanyuwomen_daohang_bottom">
		    	<ul>
		    		<li class="gsjj_1" style="visibility: visible;"></li>
		    	</ul>
		    </div>-->
		</div>
		
		<!--
        	作者：1455490366@qq.com
        	时间：2016-04-21
        	描述：content
        -->
		
		
		
		
		
		
		
		<script>
			$(function(){
				 var aaaa=0;
				 
				$(".guanyuwomen_daohang_top ul li a").mouseenter(function(){
					 var index=0;
					 var weizhi;
					 $(".guanyuwomen_daohang_top ul li a").each(function(obj){
							 $(".guanyuwomen_daohang_top ul li a").css("color","#000");
				     });
				         index=$(this).attr("html");
				         weizhi=index*132;
				        $(".gsjj_1").animate({left:weizhi+"px"},200);
				        $(this).css("color","#1bb7fc");
				});
				$(".guanyuwomen_daohang_top ul li a").mouseleave(function(){
					 $(".guanyuwomen_daohang_top ul li a").each(function(obj){
							 $(".guanyuwomen_daohang_top ul li a").css("color","#000");
				     });
				         $(".gsjj_1").animate({left:aaaa+"px"},200);
					     $(this).css("color","#000");
					     $(".gsjj").css("color","#1bb7fc");
				});
				
				$(".guanyuwomen_daohang_top ul li a").click(function(){
					 $(".guanyuwomen_daohang_top ul li a").each(function(obj){
							 $(".guanyuwomen_daohang_top ul li a").css("color","#000");
				     });
				      var index_2 =$(this).attr("html");
				      aaaa=index_2*132;
				      $(this).parent().css("border-bottom","6px solid #1bb7fc");
				});
				
				
			});
			
			
		</script>
		
		
	</body>
</html>
