*{margin: 0; padding: 0;}
.lowhigth_banner{
	width: 100%;
	height: 330px;
	margin: 0 auto;
	background: url('../images/lowhight/pic_dmk_banner.png') no-repeat center top;
}
body{
	overflow-x: hidden;
}
.lowhight_one{width: 100%; height: 400px;}
.lowhight_one_center{width: 1000px;height: 400px;margin: 0 auto;}
.lowhight_one_left{float: left;width: 500px;height: 400px;}
.lowhight_one_right{float: right;width: 435px;height: 400px; }
.lowhight_left_top{width: 100%;height: 60px;margin-top: 50px;}
.lowhight_left_top ul li{float:left;}
.lowhight_left_top_left{font-size: 28px;color: #149b61;font-family: latha;margin-top: 10px;}
.lowhight_left_top_right{font-size: 40px; color: #fea52f;font-weight: bold;margin-top: -7px;margin-left: 5px;}
.lowhight_left_bottom{width: 100%;height: 200px;}
.lowhight_left_bottom ul li{width: 100%;height: 30px;margin-top: 20px;}
.left_gou{width: 20px;height: 20px;background: url('../images/lowhight/ic_dmk_bq.png') no-repeat center;float: left;}
.left_content{width:460px;height: 30px;float: left;margin-left: 10px;font-size: 17px;color: #363636;margin-top: -3px;font-family: "微软雅黑";}
.lowhight_one_tu{width: 100%;height:340px;background: url('../images/lowhight/pic_dmk_p1.png') no-repeat center;margin-top: 70px;}

.lowhight_two{width: 100%;height: 430px;background: #eefff7;}
.lowhight_two_center{width: 1100px;height: 430px;margin: 0 auto; }
.lowhight_two_left{float: left;width: 639px;height:402px;}
.lowhight_two_right{float: right;width: 430px;height: 402px;}
.lowhight_two_left_tu {width: 100%; height:402px;margin-top: 40px;background: url('../images/lowhight/pic_dmk_p2.png') no-repeat center;}
.lowhight_two_right_top{height: 60px;width: 100%;margin-top: 100px;}
.lowhight_two_right_top ul li{float: left;}
.lowhight_two_right_top_left{color: #ffa029;font-size: 42px;font-weight: bold;}
.lowhight_two_right_top_right{color: #1e955d; font-size: 28px;margin-top: 12px;font-weight: normal;font-family: "微软雅黑";}
.lowhight_two_right_bottom{width: 99%;margin-left: 1%;height: 150px;margin-top: 30px;font-size: 17px;line-height: 40px;}

.lowhight_three{width: 100%;height: 480px;}
.lowhight_three_center{width: 1100px;height: 450px;margin: 0 auto;}
.lowhight_three_left{float: left;width: 500px;height: 390px;margin-top: 15px;}
.lowhight_three_right{width: 487px;height: 400px;float: right;background: url('../images/lowhight/pic_dmk_p3.png') no-repeat center;margin-top: 20px;}


