<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"
		>
	<context:component-scan base-package="com.test.spring.aop.schema"></context:component-scan>
	
	<bean id="concurrentOperationExecutor" class="com.test.spring.aop.schema.advice.ConcurrentOperationExecutor">
		<property name="maxRetries" value="3"></property>
		<property name="order" value="100"></property>
	</bean>
    
	<aop:config>
		<aop:aspect id="concurrentOperationAOP" ref="concurrentOperationExecutor" >
			<aop:pointcut id="concurrentOperationPointCut" expression="execution(* com.test.spring.aop.schema.advice.service.*.*(..))" />
			<aop:around method="doConcurrentOperation" pointcut-ref="concurrentOperationPointCut"/>
		</aop:aspect>
		
	</aop:config>  
		
</beans>
